<h1 class="mt-5">Agregar Producto </h1>
<hr>


<form [formGroup]="miFormulario">

    <div class="row g-3 align-items-center mb-3">

        <div class="col-auto">
            <label class="col-form-label">Nombre:</label>
        </div>

        <div class="col-auto">
            <input class="form-control"
                   formControlName="nombre"> //formControlName es el nombre del campo del formulario y se vincula con el nombre del campo del formulario en agregar.component.ts para que se pueda validar.
        </div>

        <div class="col-auto">
            <span error-msg // Se usa para mostrar el mensaje de error cuando el campo nombre no es válido. Se conecta con la directiva error-msg.directive.ts que se encuentra en la carpeta shared.
                  [mensaje]="texto1"
                  [color]="color"
                  [valido]="!tieneError('nombre')"> //tieneError es una función que se encuentra en agregar.component.ts. valido es una propiedad que se encuentra en error-msg.directive.ts y se usa para mostrar el mensaje de error. En este caso se muestra el mensaje de error cuando el campo nombre no es válido.
            </span>
        </div>

    </div>


    <div class="row mt-3">
        <div class="col">
            <button class="btn btn-primary"
                    (click)="cambiarNombre()"> //Click se usa para que cuando se haga click en el botón se ejecute la función cambiarNombre() que se encuentra en agregar.component.ts
                Guardar
            </button>

            &nbsp;
            <button class="btn btn-primary"
                    (click)="cambiarColor()">
                Cambiar Color
            </button>
        </div>
    </div>

</form>


<h3 class="mt-5">Formulario</h3>
<pre>Value: {{ miFormulario.value | json }}</pre>
<pre>Valid: {{ miFormulario.valid }}</pre>


<div class="row mt-5"
    *customIf="miFormulario.valid"> // Se usa para mostrar el mensaje de error cuando el formulario es válido.
    <div class="col">
        <div class="alert alert-primary">
            Todo OK!
        </div>
    </div>
</div>
